@font-face {
  font-family: 'VerlagSSm';
  src: url('../assets/fonts/VerlagSSm-XLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VerlagSSm';
  src: url('../assets/fonts/VerlagSSm-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VerlagSSm';
  src: url('../assets/fonts/VerlagSSm-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VerlagSSm';
  src: url('../assets/fonts/VerlagSSm-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VerlagSSm';
  src: url('../assets/fonts/VerlagSSm-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
